@media only screen and (min-width: 24em) {
    main {
        grid-template-column: 1fr;
    }
}

main {
    display: grid;
    grid-gap: 1em;
}

body {
    background-color: #cadae2;  
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #030a4e;
  }
  
header {
    background-color: #030a4e;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;  
    border-radius: 15px;
  }
  
h1 {
      font-size: 32px;    
  }
  
h2 {
      font-family: 'Noto Sans JP', sans-serif;
      }

div {
        background-color: white;
        padding: 1em;
    }
      
img {
        max-width: 100%;
        border-radius: .5em;
        border: 1px solid #12263A;
        margin: auto;
      }
      
footer {
      background-color: #030a4e;
      color: white;
      padding: 10px;
      margin-left: 120px;
      margin-right: 120px;
      border-radius: 15px;
      text-align: center;
  }
  
    
#byui {
    color: white;
  }