@media only screen and (min-width: 42em) {   
    
    button {
        display: none;
    }
        
    nav ul {
        display: flex;
        justify-content: space-evenly;
            }

    nav ul.hide {
        display: block;
    }

   nav ul li {
           
   }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .6rem 1rem;
    }

    #summary {
        position: absolute;
        width: 240px;
        height: 180px;
        top: 35px;
        left: 35px;
        font-size: 14px;            
    }

}