body {
  max-width: 100%;
  width: 1050px;
  margin: 0 auto;            
  font-family: Quicksand, Helvetica, sans-serif; 
  font-size: 20px;
  color: #2b4162;
}

main {    
    padding: 2em;
    background-color: #ffcf56;
    margin-top: .25em;
    margin-bottom: 1em;      
  }

main img {
    width: 100%;
    border-radius: 20px;
  }

.herodiv {
    position: relative;
  }


/* ---PANCAKES BANNER - DISPLAYED ON FRIDAYS ONLY -- */

#topbanner {
  background-color: #f3a712;
  color: black;
  border: solid 1px;  
  text-align: center;
  font-size: 1.2rem;  
  padding: .5em;
}

/* ---HEADER FOR ALL PAGES -- */

header {
    width: 100%;
    background-color: white;
    color: #2b4162;
    text-align: center;
    padding: 5px 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 80px;
    float: left;
  }

  h3 {
    text-align: center;
  }

.headings h4 {
  margin-top: -1.5rem;
  }

/* ---NAVIGATION BAR FOR ALL PAGES -- */

nav {
  margin: 0 auto; 
  width: 100%; 
  background-color: #2b4162;   
  border: 2px solid #2b4162;
}

button {
  margin: .2rem 2%;
  display: block;
  background-color: transparent;  
  border: none;
  font-size: 1.6rem;
  color: white;
}

nav ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;   
  }

nav ul li a {    
    display: block;
    padding: .8rem 2%; 
    color: white;      
    text-decoration: none;
  }

nav ul li.active a {
    background-color: white;
    color: #2b4162;      
    font-weight: 600;
  }

nav ul li a:hover {
    background-color: white;
    color: #2b4162;      
    font-weight: 600;
  }     

nav ul.hide {
    display: none;
  }

/* -- WEATHER SUMMARY FOR TOWN PAGES -- */

#summary {
    background-color: #89A4C0; 
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;    
    background: radial-gradient(#eee, #89a4c0);
    border: 1px solid #000;  
    opacity: .9;
    text-align: center;
  }

#summary h3 {
    border-bottom: 2px solid;
  }

/* -- WEATHER FORECAST FOR TOWN PAGES -- */

#forecast {
    display: none;
  }

/* -- TOWNINFO FOR MAIN PAGE -- */
  
.cards {
  display: grid;
  grid-template-columns: 1fr;   
  align-content: center;
}

.cards section { 
  background-color: #84a9c0;
  margin: .5rem;
  padding: .5rem;  
  text-align: center;
  border-radius: 15px;
  border: 1px solid #2b4162; 
}

.cards section img {
  border-radius: 10px;
}

/* -- ARTICLE -- */
  
.article {
    display: block;
  }

#hillrace {
  width: 50%;
}

/* -- STORMCENTER -- */

#stormform {
  background-color: white;
  border: 20px solid #ffcf56;
  border-radius: 30px;
}
  
  form fieldset {
  margin: 2rem 0;
  background-color: white;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: #2b4162;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #2b4162;
  font-size: 1rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(38, 73, 94, 0.1);
}

form .sbs {
  display: inline-block;
  padding: .75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #ffcf56;
  border: 6px solid #2b4162;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

/*-- GALLERY --*/

.gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.galleryimg {
  background-color: white;
  text-align: center;
  border-radius: 20px 20px 0 0;
  margin: 2px;
}

/* -- CONTACT INFO -- */

.weatherduckinfo {
  background-color: white;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  margin: 2rem;
}

.contact h3 {
  grid-column: 1;
  border-bottom: 2px solid #2b4162;
}

.contact p {
  grid-column: 1;
}

.social {
  grid-column: 1;
}

.map {
  max-width: 30em;
  grid-column: 2;
}

.social img {
  max-width: 3rem;
}

/* -- FOOTER -- */

footer {
      background-color: #2b4162;
      color: white;
      padding: 10px;  
      text-align: center;    
  }

#byui {
    color: white;
  }

.clearfix:after {
      content: "";
      display: table;
      clear: both;
      background-color: #2b4162;
    }
 