@media only screen and (min-width: 668px) {

    nav button {
        display: none;
    }
    
    nav ul {
        display: flex;        
        justify-content: space-around;
    }

    nav ul.hide {
        display: flex;
    }  

    nav ul li a {        
        border: 3px solid #003363;
        padding: .6rem 1rem;
    }

    .busbuttons {
        display: flex;
        float: right;
      }
      
      .busbuttons div {
        margin: 0px 10px;
        color: #000000;
        cursor: pointer;
      }
      
      .busbuttons div > * {
        pointer-events: none;
      }

      .directorylist {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-content: center;
    }

        .directorylist.list {
            grid-template-columns: 1fr;
        }

   

}