/*-----CSS FOR ALL PAGES-----*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:"Bembo Book", serif;
}

h1 {
  margin: 5rem;
}

h1, 
h2{ 
  text-align: center;
}

h3 {
  color: #003363;
  border-bottom:.2rem solid #595959;
}

.logo {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 10px;
  top: -20px;
  z-index: 1; 
}

.members {
  position: absolute;
  width: 148px;
  height: 40px;
  right: 30px;
  top: 10px;
  background-color: #b60000;
  border-radius: 20px;  
  box-shadow: 2px 2px 2px 2px #999;
  padding: .6rem;
}

.members a,
.joincoc a {  
  font-family: "Lato", sans serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.joincoc {  
  width: 180px;
  height: 40px;
  background-color: #b60000;
  border-radius: 20px;  
  box-shadow: 2px 2px 2px 2px #999;
  padding: .6rem;
}

.formbuttons {
  align-content: center;
}

body {
    width: 100%;    
    background-color: #e3dac9;
}

main {
    margin: 1rem;
}


/* ---NAVIGATION BAR FOR ALL PAGES -- */

nav {
    width: 100%;
    margin-top: 5rem; 
    background-color: #003363;
}
  
nav button {    
    display: block;
    background-color: transparent;  
    border: none;
    padding: .4rem;
    font-size: 1.6rem;
    color: white;
    float: right;
  }
  
nav ul {
    list-style: none;
    margin-left: 20rem;
    margin-right: 5rem;
    padding: 0;    
    }
  
nav ul li a {    
      display: block;
      color: white;      
      text-decoration: none;
      font-family: "Lato", sans serif;
      font-size: 20px;         
    }
  
nav ul li.active a {
      border: 3px solid #b60000;
      color: white;  
    }
  
nav ul li a:hover {
      background-color: #a9bcd0;
      color: #14110f;  
    }     
  
nav ul.hide {
      display: none;
    }


.weather, 
.fwevents, 
.purpose,
.advertising,
.contactinfo {
  background-color: #a9bcd0;
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

.advertising h3 {
  grid-column: 1/4;
  grid-row: 1/2;
}

#current,
#forecast {
  background-color: white;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}

.ads {
  background-color: white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 15px;  
}

/*--- JOIN THE CHAMBER FORM ---*/

#joinus {
  max-width: 90%;  
  padding-left: 10%;  
}

form fieldset {
  margin: 2rem;
  background-color: white;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  padding: 2rem;
}

form legend {
  background-color: white;
  color: #003363;
  margin: 0 1rem;
  padding: 0 .5rem;
  border-top: 1px solid #a3a3a3;  
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
}

#box,
#comment {
  border: none;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #003363;
  font-size: 1.2rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 12px 20px;
  color: #555;
  width: 100%;
  max-width: 95%;
  background-color: rgba(38, 73, 94, 0.1);
}

.sbs {
  display: inline-block;
  padding: 1rem;
  color: #555;
}

form input.submitBtn {
  color: white;
  background-color: #b60000;
  font-size: 1.5rem;
  border-radius: 25px;
  padding: .75rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 15rem;
}

form input.resetBtn {
  color: white;
  background-color: #595959;
  font-size: 1.5rem;
  border-radius: 25px;
  padding: .75rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 12rem;
}

.formbuttons {
  margin-left: 24%;
}

/*--- BUSINESS DIRECTORY ---*/

.busbuttons {
  display: none;
}

.grids {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

.cards section {
  width: 320px;
  height: 320px;
  background-color: white;
  margin: 1rem;
  padding: .5rem;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #595959;
  box-shadow: 2px 2px 2px 2px #999;
}


/*--- CONTACT PAGE ---*/

#board {
  margin: 2rem;
  padding: 3rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

.directors {
  text-align: center;
}

.directors img {
  border-radius: 20px;
  border: 1px solid #595959;
  box-shadow: 2px 2px 2px 2px #999; 

}

/*--- PHOTO SLIDESHOW - CODE BY W3 SCHOOLS---*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  border: 20px solid white;
  box-shadow: 4px 4px 2px 2px #999;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 16px;
  padding: 20px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 28px 16px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*--- FOOTER ---*/

footer {
  background-color: #003363;
  color: white;
  font-family: "Lato", sans serif;
  font-size: 20px;
  text-decoration: none;
  padding: 1rem;  
  text-align: center;
}

#siteplan {
  color: white;
}

#attribution {
  color: white;
}