body {
  max-width: 900px;
  margin: auto;
  background-color: #ffcf56;        
  font-family: Quicksand, Helvetica, sans-serif; 
  font-size: 16px;
  color: #2b4162;
}

main {    
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;    
    margin: auto;
    background-color: white;
  }

  header {
    background-color: #2b4162;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 5em 5em 0 5em;           
  }

  nav ul {
    list-style-type: none;   
    background-color: #fb6f1e;  
  }

  nav ul li {
    flex: 1 1 100%;        
  }

  nav a {
    display: block; 
    padding: 1em; 
    color: white;  
    font-family: Quicksand, Helvetica, sans-serif; 
    font-size: 1.2em;    
      }

  nav a:hover {
    color: #2b4162;
    background-color: #ffffff;
  }     
      
  h1 {
        font-size: 42px;    
    }
  
  h2 {
     margin-top: 2em;
  }  
        
  img {
          max-width: 50%;
          border-radius: .5em;
          border: 1px solid #030a4e;
          margin: auto;
        }
        
  footer {
        background-color: #2b4162;
        color: white;
        padding: 10px;
        margin-left: 160px;
        margin-right: 160px;
        text-align: center;
    }
    
      
  #byui {
      color: white;
    }